<!-- component table. Show tables 1 and 2 -->

<!-- start table 1 -->
<h2>
    Table 1. Sales sorted by total
</h2>

<div class="divTable blueTable">
    <div class="divTableHeading">
        <div class="divTableRow">
            <div class="divTableHead">Id</div>
            <div class="divTableHead">Total</div>
        </div>
    </div>
    <div *ngFor="let item of sortList" class="divTableBody">
        <div class="divTableRow">
            <div class="divTableCell">{{item.id}}</div>
            <div class="divTableCell">{{item.total}}</div>
        </div>
    </div>
</div>
<!-- start table 2 -->
<h2>
    Table 2. Sales grouped by month and sorted by total
</h2>

<div class="divTable blueTable">
    <div class="divTableHeading">
        <div class="divTableRow">
            <div class="divTableHead">Date</div>
            <div class="divTableHead">Total</div>
        </div>
    </div>
    <div *ngFor="let item of groupMonth" class="divTableBody">
        <div class="divTableRow">
            <div class="divTableCell">{{item.date}}</div>
            <div class="divTableCell">{{item.total}}</div>
        </div>
    </div>
</div>
<div class="note">
    <ul>
        <li>
            <div>
                not including additional Javascript libraries, does not include bootstrap
            </div>
        </li>
    </ul>
</div>