<!--The content below is only a placeholder and can be replaced.-->
<div id="header" class="sheader">
    <div class="row whitelog">
        <img src="assets/interfell.png" routerLink="/" routerLinkActive="active" class="logo">
    </div>
</div>
<div style="text-align:center">
    <h1>
        Test for interfell: {{ title }}!
    </h1>
</div>

<div class="flex-container">
    <app-tables></app-tables>
</div>